name: Test CI pipeline

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build test container
      run: docker build --target=test -t debricked/debricked-cli-test .
    - name: Run tests
      run: docker run -e DEBRICKED_USERNAME="$USER" -e DEBRICKED_PASSWORD="$PASS" -e EXCLUDED_DIRECTORIES="$EXCLUDED_DIRECTORIES" debricked/debricked-cli-test
      env:
        USER: ${{ secrets.DEBRICKED_USERNAME }}
        PASS: ${{ secrets.DEBRICKED_PASSWORD }}
        EXCLUDED_DIRECTORIES: "vendor,tests"
